<h2>This image has <%= pluralize(@comments.count, "Reply") %></h2>

  <%= @comments.each do |comment| %>

    <p><b><%= comment.body %></b></p>

    <% if current_user == comment.user %>
    <p><%= link_to 'Delete comment', [comment.image, comment], method: :delete %></p>
    <p><%= link_to 'Edit comment', edit_image_comment_path(comment.image, comment) %></p>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <%= render 'comments/form' %>
  <% end %>
