%h2
  .title
    = t('comments.index.show')
- @comments.each do |comment|
  %br/
  .commentlistitem
    = image_tag(comment.image.picture.small.url)
    .commentlistitem.title
      = t('comments.index.comment')
      = ": '#{comment.body}'"
    .commentlistitem
      .title
        = t('.user')
        = ": '#{comment.user.email}'"
    %br/
#paginate
  = paginate @comments


