%h2
  .title
    = t('categories.index.categories')
- if @categories.exists?
  - @categories.each_slice(4) do |category|
    %div
      .row
        - category.each do |category|
          .col-mid-3
            .photo2.photo-type-line2
              %a.photo-hover2{ "data-title" => category.title, :href => category_path(category) }
                .photo-info2
                  .headline2= category.title
                  .line2
                  .desc2
                    = "Rating:"
                    = category.range_counter
                  .mask
                .photo-img
                  - if category.images.first.present?
                    = image_tag category.images.first.picture.thumb.url
                  - else
                    = image_tag 'background.jpg', style: "width: 275px; height: 220px"
- else
  %p
    = t('categories.index.no_categories')
#paginate
  = paginate @categories
