#gallery
  %h2
    #{Category.friendly.find(params[:id]).title}

  - if @images.exists?
    - @images.each_slice(4) do |image|
      %div
        .row
          - image.each do |image|
            .col-mid-3
              .photo.photo-type-line
                %a.photo-hover{"data-title" => image.name, :href => image_path(image)}
                  .photo-info
                    .headline= image.name
                    .line
                    .desc= image.category.title
                    .mask
                  .photo-img
                    = image_tag image.picture.thumb.url
  - else
    %p.title
      = t('images.index.no_images')

  - if current_user.following?(@category)
    #unfollow-button.d-inline
      = button_to (t('categories.index.unfollow')), {action: 'unfollow'}, method: 'put', class: 'btn btn-outline-primary', remote: true
  - else
    #follow-button.d-inline
      = button_to (t('categories.index.follow')), {action: 'follow'}, method: 'put', class: 'btn btn-outline-primary', remote: true

  -if @category.user.eql?(current_user)
    = button_to (t('categories.index.delete_category')), {action: 'destroy'}, data: { confirm: t('categories.index.delete_category.confirm')}, method: :delete, class: 'btn btn-danger', remote: true
#paginate
  =paginate @images
