#gallery
  %h2
    #{Category.friendly.find(params[:id]).title}

  - if @images.exists?
    - @images.each_slice(4) do |image|
      %div
        .row
          - image.each do |image|
            .col-mid-3
              .photo2.photo-type-line2
                %a.photo-hover2{"data-title" => image.name, :href => image_path(image)}
                  .photo-info2
                    .headline2= image.name
                    .line2
                    .desc2= image.category.title
                    .mask
                  .photo-img
                    = image_tag image.picture.thumb.url
  - else
    %p.title
      = t('images.index.no_images')

  .buttons
    = render 'categories/following_button', category: @category

    -if @category.user.eql?(current_user)
      = button_to (t('categories.index.delete_category')), {action: 'destroy'}, data: { confirm: t('categories.index.delete_category.confirm')}, method: :delete, class: 'btn btn-danger', remote: true
#paginate
  =paginate @images
