<div class="section">
  <%= form_for @image, :html => {:multipart => true}  do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :picture %>
      <%= f.file_field :file %>
    </div>

    <%= f.submit 'Create Image!!!' %>

  <% end %>
</div>
