#gallery
  %h2
    = t('.show')
  - if @images.exists?
    - @images.each_slice(4) do |image|
      %div
        .row
          - image.each do |image|
            .col-mid-3
              .photo.photo-type-line
                %a.photo-hover{:href => image_path(image)}
                  .photo-info
                    .headline= image.name
                    .line
                    .desc= image.category.title
                    .mask
                  .photo-img
                    = image_tag image.picture.thumb.url
  - else
    %p
      = t('.no_images')
#paginate
  = paginate @images
