%h2
  = @image.name
%br
  .image
    = image_tag(@image.picture.large.url, alt: 'some_image')
%br
%div
  #heart-button.d-inline
    = render 'hearts/button'
  #heart-count.d-inline
    = @image.hearts_count
  -if user_signed_in?
    #comment-form.d-inline
      =link_to new_image_comment_path(image_id: @image.slug), remote: true do
        %i.fas.fa-comment-dots
          %i.comments_counter
            = @image.comments_count
  =link_to download_image_path(id: @image.id), target: '_blank' do
    %i.fas.fa-download

  #comments-container
    %ul#comments
    .image_comments
      %a.toggleLink{:href => "#", 'data-remote' => 'true', } See all Comments
      %i.comments
        -if @comments.exists?
          %i.comment_title
            ="Comments : "
          -@comments.each do |comment|
            .commentlistitem
              %ul
                %li
                  =comment.body
                %i.title
                  ="Commented by:"
                =comment.user.email
                %br
                %i.title
                  =comment.created_at.strftime('%H:%M:%S')
                %br
                %i.title
                  =comment.created_at.strftime('%v')
        -else
          %i.title
            ='No comments yet'
