!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title Gallery
    = csrf_meta_tags
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.5.0/css/all.css", :integrity => "sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      %a.navbar-brand{:href => "#"} Gallery
      %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto

          %li.nav-item.active
            %i.fas.fa-home
          %li.nav-item.active
            = link_to 'Home', root_path, class: "nav-link"
            %a.nav-link{:href => "#"}
              %span.sr-only (current)

          %li.nav-item.active
            %i.fas.fa-align-justify
          %li.nav-item.dropdown.active
            %a#dropdown03.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "https://example.com"} Top Category
            .dropdown-menu{"aria-labelledby" => "dropdown03"}
              - @categories.each do |category|
                %a.dropdown-item{:href => "#{category_path(category)}"}
                  = category.title
              %a.dropdown-item.alert-info{:href => "#{new_category_path}"} Add Category

          %li.nav-item.active
            %i.fab.fa-instagram
          %li.nav-item.active
            = link_to 'All images', images_path, class: "nav-link"

          %li.nav-item.active
            %i.fas.fa-comment
          %li.nav-item.active
            = link_to 'Comments', comments_path, class:"nav-link"

          %li.nav-item.active
            %i.fas.fa-user-circle
          %li.nav-item.dropdown.active
            %a#dropdown02.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "https://example.com"} Account
            .dropdown-menu{"aria-labelledby" => "dropdown02"}
              - if user_signed_in?
                = link_to 'Logout', destroy_user_session_path, class: "dropdown-item alert-danger", method: :delete
              - else
                = link_to 'Login', new_user_session_path, class: "dropdown-item"
              = link_to 'Edit Profile', edit_user_registration_path, class: "dropdown-item alert-info"

          %li.nav-item.active
            = link_to 'Categories', categories_path, class:"nav-link"

        %ul.nav.navbar-nav.pull-right
          %li.nav-item.active
            %i.far.fa-arrow-alt-circle-down
          %li.nav-item.active
            = link_to 'Upload Image', new_image_path, class:"nav-link"

          %li.nav-item.active
            = link_to 'Add Category', new_category_path, class:"nav-link"

    %main.container{:role => "main"}
    %section
      .container
        - if flash[:notice]
          .alert.alert-success= flash[:notice]
        - if flash[:alert]
          .alert.alert-danger= flash[:alert]
        = yield
    -#%footer
    /
      Bootstrap core JavaScript
      \==================================================
    / Placed at the end of the document so the pages load faster

