!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title Gallery
    = csrf_meta_tags
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{:src => "https://www.google.com/recaptcha/api.js"}
    / %script{:src => "// code.jquery.com/jquery-3.2.1.min.js"}
    / %script{:src => "fancybox.min.js"}
    / %script{:crossorigin => "anonymous", :integrity => "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", :src => "https://code.jquery.com/jquery-3.2.1.slim.min.js"}
    / %script{:crossorigin => "anonymous", :integrity => "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", :src => "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"}
    / %script{:crossorigin => "anonymous", :integrity => "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"}
    / %script{:src => "assets/bootstrap.js"}
    / Bootstrap core CSS
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    -#%link{:href => "assets/bootstrap.scss", :rel => "stylesheet"}
    / Custom styles for this template
    -#%link{:href => "css/style.css", :rel => "stylesheet"}/
  %body
    %nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      %a.navbar-brand{:href => "#"} Gallery
      %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            = link_to 'Home', root_path, class: "nav-link"
            %a.nav-link{:href => "#"}
              %span.sr-only (current)

          %li.nav-item.dropdown.active
            %a#dropdown03.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "https://example.com"} Category
            .dropdown-menu{"aria-labelledby" => "dropdown03"}
              - @categories.each do |category|
                %a.dropdown-item{:href => "#{category_path(category)}"}
                  = category.title
              %a.dropdown-item.alert-info{:href => "#{new_category_path}"} Add Category

          %li.nav-item.active
            = link_to 'All images', images_path, class: "nav-link"
          %li.nav-item
            = link_to 'Comments', comments_path, class:"nav-link"
          %li.nav-item.dropdown.active
            %a#dropdown02.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "https://example.com"} Account
            .dropdown-menu{"aria-labelledby" => "dropdown02"}
              - if user_signed_in?
                = link_to 'Logout', destroy_user_session_path, class: "dropdown-item alert-danger", method: :delete
              - else
                = link_to 'Login', new_user_session_path, class: "dropdown-item"
              = link_to 'Edit Profile', edit_user_registration_path, class: "dropdown-item alert-info"
        %ul.nav.navbar-nav.pull-right
          %li.nav-item.active
            = link_to 'Upload Image', new_image_path, class:"nav-link"
          %li.nav-item.active
            = link_to 'Add Category', new_category_path, class:"nav-link"
    %main.container{:role => "main"}
    %section
      .container
        - if flash[:notice]
          .alert.alert-success= flash[:notice]
        - if flash[:alert]
          .alert.alert-danger= flash[:alert]
        = yield
    -#%footer
    /
      Bootstrap core JavaScript
      \==================================================
    / Placed at the end of the document so the pages load faster
