!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title
      =t('layouts.application.title')
    = csrf_meta_tags
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.5.0/css/all.css", :integrity => "sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", :rel => "stylesheet"}/
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body
    %nav.navbar.navbar-expand-xl.navbar-dark.bg-dark
      %a.navbar-brand{:href => "#"}
        = t('layouts.application.title')
      %button.navbar-toggler{"aria-controls" => "navbarsExampleDefault", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarsExampleDefault", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarsExampleDefault.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto

          %li.nav-item.active
            %i.fas.fa-home
          %li.nav-item.active
            = link_to (t('layouts.application.home')), root_path, class: "nav-link"
            %a.nav-link{:href => "#"}
              %span.sr-only (current)

          %li.nav-item.active
            %i.fas.fa-align-justify
          %li.nav-item.dropdown.active
            %a#dropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "https://example.com"}
              = t('layouts.application.top_categories')
            .dropdown-menu{"aria-labelledby" => "dropdown"}
              - top_5_categories.each do |category|
                %a.dropdown-item{:href => "#{category_path(category)}"}
                  = category.title
              -#%a.dropdown-item.alert-info{:href => "Add Category"}
                -#= link_to(t('layouts.application.add_category'), '#categoryModal', 'data-toggle' => 'modal', class: 'nav-link')

          %li.nav-item.active
            %i.fab.fa-instagram
          %li.nav-item.active
            = link_to (t('layouts.application.images')), images_path, class: "nav-link"

          %li.nav-item.active
            %i.fas.fa-comment
          %li.nav-item.active
            = link_to (t('layouts.application.comments')), comments_path, class:"nav-link"

          %li.nav-item.active
            %i.fas.fa-user-circle
          %li.nav-item.dropdown.active
            %a#dropdown02.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "https://example.com"}
              = t('layouts.application.account')
            .dropdown-menu{"aria-labelledby" => "dropdown02"}
              - if user_signed_in?
                = link_to (t('layouts.application.logout')), destroy_user_session_path, class: "dropdown-item alert-danger", method: :delete
              - else
                = link_to (t('layouts.application.login')), new_user_session_path, class: "dropdown-item"
              = link_to (t('layouts.application.edit_profile')), edit_user_registration_path, class: "dropdown-item alert-info"

          %li.nav-item.active
            = link_to (t('layouts.application.categories')), categories_path, class:"nav-link"

        %ul.nav.navbar-nav.pull-right
          %li.nav-item.active
            %i.far.fa-arrow-alt-circle-down
          %li.nav-item.active
            = link_to(t('layouts.application.upload_images'), '#imageModal', 'data-toggle' => 'modal', class: 'nav-link')
          %li.nav-item.active
            %i.fas.fa-plus
          %li.nav-item.active
            = link_to(t('layouts.application.add_category'), '#categoryModal', 'data-toggle' => 'modal', class: 'nav-link')

          %li.nav-item.active
            %i.fas.fa-globe-americas
          %li.nav-item.active
            -if I18n.locale == :ru
              =link_to('En', { locale: :en }, class: 'nav-link')
            -else
              =link_to('Ru', { locale: :ru }, class: 'nav-link')

  .container-fluid
    %section
      - if flash[:notice]
        .alert.alert-success= flash[:notice]
      - if flash[:alert]
        .alert.alert-danger= flash[:alert]
      = render 'images/modal'
      = render 'categories/modal_new'
      = yield
  = render 'layouts/footer'
